.menu-container {
  position: fixed;
  bottom: -130px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.container-setas {
  position: relative;
}

.seta-voltar {
  transform: rotate(180deg);
  position: absolute;
  right: 200px;
  top: -40px;
  transition: 0.5s;
  cursor: pointer;
}

.seta-voltar:hover {
  transform: rotate(180deg) scale(1.2);
  transition: 0.5s;
}

.seta-avancar {
  position: absolute;
  right: -100px;
  top: -40px;
  transition: 0.5s;
  cursor: pointer;
}

.seta-avancar:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.container-opcoes {
  position: relative;
  width: 150px;
  height: 150px;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-opcoes::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid var(--roxo-principal);
}

.opcao {
  position: absolute;
  transition: 1s;
  transform-origin: center;
  color: var(--branco);
  font-weight: 600;
  font-size: 1.8rem;
}

.opcao::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: -1;
  left: -10px;
  opacity: 0;
  transition: 1s;
  transform: rotate(0deg);
}

.opcao-selecionada {
  font-size: 2rem;
  transition: 1s;
}

.opcao-selecionada::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--roxo-principal);
  z-index: -1;
  left: -10px;
  opacity: 1;
  transition: 1s;
  transform: rotate(180deg);
}

.sobre-mim {
  top: -40px;
  text-wrap: nowrap;
}

.sobre-mim-espacado {
  top: -120px;
  text-wrap: nowrap;
}

.tecnologias {
  right: -200px;
}

.tecnologias-reduzido {
  right: -120px;
}

.habilidades {
  bottom: -40px;
}

.habilidades-espacado {
  bottom: -130px;
}

.projetos {
  left: -140px;
}

.projetos-reduzido {
  left: -85px;
}

@media (max-width: 700px) {
  .menu-container {
    bottom: -80px;
  }

  .container-opcoes {
    width: 100px;
    height: 100px;
  }

  .container-opcoes::before {
    width: 60px;
    height: 60px;
  }

  .opcao {
    font-size: 1.3rem;
  }

  .opcao::before {
    width: 20px;
    height: 20px;
  }

  .opcao-selecionada {
    font-size: 1.6rem;
  }

  .opcao-selecionada::before {
    width: 20px;
    height: 20px;
  }

  .sobre-mim {
    top: -25px;
  }

  .sobre-mim-espacado {
    top: -85px;
  }

  .tecnologias {
    right: -140px;
  }

  .tecnologias-reduzido {
    right: -90px;
  }

  .habilidades {
    bottom: -25px;
  }

  .habilidades-espacado {
    bottom: -90px;
  }

  .projetos {
    left: -100px;
  }

  .projetos-reduzido {
    left: -60px;
  }

  .seta-voltar {
    right: 160px;
    max-width: 40px;
    top: -30px;
  }

  .seta-avancar {
    right: -100px;
    max-width: 40px;
    top: -30px;
  }
}

@media (max-width: 450px) {
  .menu-container {
    bottom: -65px;
  }

  .container-opcoes {
    width: 80px;
    height: 80px;
  }

  .container-opcoes::before {
    width: 50px;
    height: 50px;
  }

  .opcao {
    font-size: 1rem;
  }

  .opcao::before {
    width: 18px;
    height: 18px;
  }

  .opcao-selecionada {
    font-size: 1.4rem;
  }

  .opcao-selecionada::before {
    width: 18px;
    height: 18px;
  }

  .sobre-mim-espacado {
    top: -55px;
  }

  .tecnologias {
    right: -105px;
  }

  .habilidades-espacado {
    bottom: -60px;
  }

  .projetos {
    left: -70px;
  }

  .seta-voltar {
    right: 130px;
    max-width: 30px;
    top: -25px;
  }

  .seta-avancar {
    right: -75px;
    max-width: 30px;
    top: -25px;
  }
}