.container-projeto {
  width: 1000px;
  margin: 50px auto 100px;
}

.container-projeto h3 {
  text-align: center;
  color: var(--roxo-principal);
  font-size: 2rem;
  margin-bottom: 25px;
}

.container-info-projeto {
  display: flex;
  gap: 50px;
}

.inverter-flex {
  flex-direction: row-reverse;
}

.sobre-projeto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.sobre-projeto p {
  color: var(--branco);
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.5s;
}

.tecnologias-usadas {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tecnologias-usadas img {
  max-width: 40px;
}


.img-projeto {
  max-width: 500px;
}

.img-projeto img {
  width: 100%;
}

.btn-sobre-projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.btn-acessar {
  position: relative;
  width: 160px;
  height: 40px;
}

.btn-acessar a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background: var(--roxo-principal);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.btn-acessar::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(58, 58, 58, 0.9);
  transform: rotate(5deg);
  transition: 0.4s;
  border-radius: 3px;
}

.btn-acessar:hover a {
  transform: scale(1.2);
  transition: 0.4s;
}

.btn-acessar:hover::before {
  transform: rotate(10deg) scale(1.1);
  transition: 0.4s;
}

.btn-repositorio {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.1rem;
  transition: 0.5s;
  font-weight: 500;
}

.btn-repositorio:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (max-width: 1080px) {
  .container-projeto {
    width: 100%;
  }

  .container-info-projeto {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
  }

  .img-projeto {
    max-width: 500px;
  }

  .sobre-projeto {
    gap: 20px;
  }

  .sobre-projeto p {
    max-width: 60ch;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .img-projeto {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .img-projeto {
    max-width: 350px;
  }

  .sobre-projeto p {
    font-size: 1rem;
    max-width: 50ch;
    padding: 0 10px;
  }

  .container-projeto {
    margin: 40px 0;
  }
}

@media (max-width: 500px) {
  .img-projeto {
    max-width: 280px;
  }

  .sobre-projeto p {
    font-size: 0.9rem;
    max-width: 45ch;
  }

  .container-info-projeto {
    gap: 0px;
  }

  .sobre-projeto {
    gap: 15px;
  }

  .btn-repositorio {
    font-size: 1rem;
  }

  .btn-acessar {
    width: 130px;
    height: 30px;
  }

  .btn-acessar a {
    font-size: 1rem;
  }
}