.grid-sobre-mim {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.sobre-mim-informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre-mim-informacoes p {
  color: var(--branco);
  font-size: 1.3rem;
  max-width: 50ch;
  text-align: center;
  margin-top: 150px;
}

.container-links {
  display: flex;
  gap: 25px;
  margin: 50px 0;
}

.container-links a {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  gap: 5px;
}

.container-links a img {
  max-width: 25px;
}

.btn-cv {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 500;
  gap: 5px;
  background-color: var(--roxo-principal);
  padding: 5px 15px;
  cursor: pointer;
}

.btn-cv img {
  max-width: 25px;
}

.botao-sobre-mim {
  position: relative;
  width: 165px;
  height: 40px;
}

.botao-sobre-mim a,
.botao-sobre-mim button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--branco);
  background: var(--roxo-principal);
  transition: 0.4s;
  cursor: pointer;
}

.botao-sobre-mim::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(58, 58, 58, 0.9);
  transform: rotate(5deg);
  transition: 0.4s;
  border-radius: 3px;
}

.botao-sobre-mim:hover button,
.botao-sobre-mim:hover a {
  transform: scale(1.2);
  transition: 0.4s;
}

.botao-sobre-mim:hover::before {
  transform: rotate(10deg) scale(1.1);
  transition: 0.4s;
}

/* .botao-sobre-mim {
  background-color: var(--roxo-principal);
  border-radius: 2px;
  width: 165px;
  display: flex;
  justify-content: center;
  position: relative;
}

.botao-sobre-mim::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(61, 61, 61, 0.9);
  transform: rotate(5deg);
  border-radius: 2px;
  z-index: -1;
}

.botao-sobre-mim:hover {
  transform: scale(1.15);
  transition: 0.4s;
}

.botao-sobre-mim:hover::before {
  transform: rotate(10deg);
  transition: 0.4s;
} */


.sobre-mim-imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.container-img {
  width: 200px;
  height: 350px;
  position: relative;
  animation: animacao-sobe-desce 4s linear infinite;
}

.container-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.container-img img::before {
  content: '';
  height: 50px;
  width: 50px;
  position: absolute;
  border: 3px solid var(--roxo-principal);
  top: 10px;
}

.container-img::before {
  content: '';
  width: 200px;
  height: 350px;
  position: absolute;
  background-image: url('/fotos/livros.jpeg');
  background-size: cover;
  border-radius: 5px;
  top: -50px;
  left: -120px;
  z-index: 1;
}

.container-img::after {
  content: '';
  width: 200px;
  height: 350px;
  position: absolute;
  background-image: url('/fotos/meu-pc.jpeg');
  background-size: cover;
  border-radius: 5px;
  bottom: -50px;
  right: -120px;
  z-index: 1;
}

.quadrado-foto {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid var(--roxo-principal);
}

.quadrado-foto1 {
  top: -25px;
  right: -15px;
  z-index: 1;
}

.quadrado-foto2 {
  bottom: 30px;
  left: -20px;
  width: 30px;
  height: 30px;
  background-color: var(--roxo-principal);
  z-index: 2;
  transform: rotate(-15deg);
}

.quadrado-foto3 {
  bottom: -20px;
  right: -30px;
  z-index: 2;
  transform: rotate(25deg);
}

@keyframes animacao-sobe-desce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}