.grid-sobre-mim {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.sobre-mim-informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.sobre-mim-informacoes p {
  color: var(--branco);
  font-size: 1.3rem;
  max-width: 50ch;
  text-align: center;
  margin-top: 150px;
  font-weight: 500;
  transition: 0.5s;
}

.container-links {
  display: flex;
  gap: 25px;
  margin: 50px 0;
}

.container-links a {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  gap: 5px;
  transition: 0.5s;
  border: 2px solid var(--roxo-principal);
  width: 160px;
}

.container-links a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.container-links a img {
  max-width: 25px;
}

.btn-cv {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 500;
  gap: 5px;
  background-color: var(--roxo-principal);
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
}

.btn-cv img {
  max-width: 25px;
}

.botao-sobre-mim {
  position: relative;
  width: 195px;
  height: 40px;
}

.botao-sobre-mim a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background: var(--roxo-principal);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.botao-sobre-mim::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(58, 58, 58, 0.9);
  transform: rotate(5deg);
  transition: 0.4s;
  border-radius: 3px;
}

.botao-sobre-mim:hover a {
  transform: scale(1.2);
  transition: 0.4s;
}

.botao-sobre-mim:hover::before {
  transform: rotate(10deg) scale(1.1);
  transition: 0.4s;
}

/* Imagens  */

.sobre-mim-imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.container-img {
  width: 200px;
  height: 350px;
  position: relative;
  animation: animacao-sobe-desce 4s linear infinite;
}

.container-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.container-img img::before {
  content: '';
  height: 50px;
  width: 50px;
  position: absolute;
  border: 3px solid var(--roxo-principal);
  top: 10px;
}

.container-img::before {
  content: '';
  width: 200px;
  height: 350px;
  position: absolute;
  background-image: url('/fotos/livros.jpeg');
  background-size: cover;
  border-radius: 5px;
  top: -50px;
  left: -120px;
  z-index: 1;
}

.container-img::after {
  content: '';
  width: 200px;
  height: 350px;
  position: absolute;
  background-image: url('/fotos/meu-pc.jpeg');
  background-size: cover;
  border-radius: 5px;
  bottom: -50px;
  right: -120px;
  z-index: 1;
}

.quadrado-foto {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid var(--roxo-principal);
}

.quadrado-foto1 {
  top: -25px;
  right: -15px;
  z-index: 1;
}

.quadrado-foto2 {
  bottom: 30px;
  left: -20px;
  width: 30px;
  height: 30px;
  background-color: var(--roxo-principal);
  z-index: 2;
  transform: rotate(-15deg);
}

.quadrado-foto3 {
  bottom: -20px;
  right: -30px;
  z-index: 2;
  transform: rotate(25deg);
}

@keyframes animacao-sobe-desce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1080px) {
  .grid-sobre-mim {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-img {
    height: 300px;
  }

  .container-img::before {
    height: 300px;
    top: 0px;
    left: -210px;
  }

  .container-img::after {
    height: 300px;
    bottom: 0px;
    right: -210px;
  }

  .sobre-mim-imagens {
    margin-top: 40px;
  }

  .sobre-mim-informacoes p {
    margin-top: 35px;
  }

  .container-links {
    gap: 20px;
    margin: 30px 0;
  }

  .botao-sobre-mim {
    margin-bottom: 25px;
  }
}

@media (max-width: 700px) {
  .container-img {
    height: 200px;
    width: 150px;
  }

  .container-img::before {
    height: 200px;
    width: 150px;
    left: -160px;
  }

  .container-img::after {
    height: 200px;
    width: 150px;
    right: -160px;
  }

  .sobre-mim-imagens {
    margin-top: 30px;
  }

  .sobre-mim-informacoes p {
    font-size: 1rem;
  }

  .container-links {
    gap: 10px;
    margin: 20px 0;
  }

  .botao-sobre-mim {
    margin-top: 15px;
  }

  .container-links a {
    font-size: 1rem;
    padding: 5px 10px;
    gap: 5px;
    transition: 0.5s;
    border: 2px solid var(--roxo-principal);
    width: 140px;
  }
}

@media (max-width: 480px) {
  .container-links {
    flex-direction: column;
    align-items: center;
  }

  .container-img {
    height: 180px;
    width: 110px;
  }

  .container-img::before {
    height: 180px;
    width: 110px;
    left: -120px;
  }

  .container-img::after {
    height: 180px;
    width: 110px;
    right: -120px;
  }

  .sobre-mim-imagens {
    margin-top: 30px;
  }
}

@media (max-width: 380px) {
  .sobre-mim-informacoes p {
    font-size: 0.9rem;
  }

  .container-img {
    height: 150px;
    width: 90px;
  }

  .container-img::before {
    height: 150px;
    width: 90px;
    left: -100px;
  }

  .container-img::after {
    height: 150px;
    width: 90px;
    right: -100px;
  }
}